.footer {
    width: 100%;
    height: 260px;
    background-color: #94C8E6;
}

.footer-content {
    margin: 0 auto;
    display: flex;
    width: 964px;
    height: 100%;
    padding-top: 34px;
}

.footer-content img {
    width: 181.25px;
    height: 32px;
}

.footer-role {
    color: #2C2C2C;
    font-family: 'InriaSerif', serif;
    font-size: 20px;
    font-weight: 700;
}