.form input {
    width: 333px;
    height: 46px;
    border-radius: 9px;
    border: 1px solid #959595;
    padding-left: 16px;
    padding-top: 1px;
    font-size: 14px;
}

.form input:hover {
    border: 1px solid #6B6B6B;
}

.form input:focus {
    outline: none;
    border: 1px solid #4ABDFF;
    background: #F7FAFC;
}

.form input::placeholder {
    color: #BDBDBD;
}

.form-error-message {
    color: #EF0000;
    font-size: 12px;
    margin-top: 4px;
}