@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'InriaSerif';
  src: url('../assets/fonts/InriaSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* 전체 wrapper는 사이드바 너비 고려 */
.myheart-wrapper {
  max-width: 1280px;
  margin-left: 246px;
  position: relative;
}

.myheart-container {
  position: absolute;
  top: 108px; /* 메뉴바 높이 고려 */
  width: 100%;
  display: flex;
  justify-content: center;
}

.myheart-title {
  color: #2C2C2C;
  font-family: 'Inria Serif', serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.myheart-filter-bar {
  position: absolute;
  top: 246px;
  /* left: 68px; */
  left: 50%;
  transform: translateX(-50%);
  width: 1034px; /* 전체 버튼 + 간격 합산 폭 */
}

.filter-btn-12m {
  position: absolute;
  top: 0;
  left: 141px;
  display: flex;
  width: 121px;
  height: 46px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9px;
  border: 1px solid #959595;
  background: #FFF;
  color: #4E4E4E;
  text-align: center;
  font-family: 'Inter';
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.filter-btn-1m {
  position: absolute;
  top: 0;
  left: 272px; /* 12개월 버튼 오른쪽에서 10px */
  display: flex;
  width: 52px;
  height: 46px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9px;
  border: 1px solid #959595;
  background: #FFF;
  color: #4E4E4E;
  text-align: center;
  font-family: 'Inter';
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.filter-btn-2m {
  position: absolute;
  top: 0;
  left: 334px; /* 한달 전 오른쪽 10px */
  display: flex;
  width: 52px;
  height: 46px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9px;
  border: 1px solid #959595;
  background: #FFF;
  color: #4E4E4E;
  text-align: center;
  font-family: 'Inter';
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.filter-btn-12m.active,
.filter-btn-1m.active,
.filter-btn-2m.active {
  border-radius: 9px;
  background: #E2F4FF;
  color: #2C2C2C;
  text-align: center;
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #E2F4FF; /* ★ border 있되, 배경색과 동일 */
}

.filter-calendar-start {
  position: absolute;
  top: 0;
  left: 422px;
}

.filter-tilde {
  position: absolute;
  top: 8px;
  left: 602px;
  color: #4E4E4E;
  text-align: center;
  font-family: 'Inter';
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.filter-calendar-end {
  position: absolute;
  top: 0;
  left: 629px;
}

.filter-btn-search {
  position: absolute;
  top: 0;
  left: 836px;
  display: flex;
  width: 57px;
  height: 46px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  background: #EBEBEB;
  color: #959595;
  text-align: center;
  font-family: 'Inter';
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  pointer-events: none
}
/* 조회 버튼 활성화시 */
.filter-btn-search.active {
  border-radius: 5px;
  background: #2C2C2C;
  color: #FFF;
  font-weight: 500;
  pointer-events: auto
}

.myheart-guide-text {
  position: absolute;
  top: 317px;
  left: 50%; /* 화면의 가운데 기준 */
  transform: translateX(-50%); /* 요소의 폭 절반만큼 왼쪽으로 */
  color: #4E4E4E;
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}

.myheart-hr-container {
  position: absolute;
  top: 406px;  /* hr의 top */
  left: 50%;
  transform: translateX(-50%);
  width: 944px;
}

.myheart-hr {
  width: 100%;
  border: 1px solid #C4C4C4;
}

.myheart-count-text {
  position: absolute;
  top: -30px; /* hr 위로 올릴 거리 */
  right: 0; /* hr 오른쪽 끝에 맞춤 */
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 400;
  color: #2C2C2C;
}

/* LookCard의 look-img에 강제로 크기 적용 */
.myheart-cards .look-img {
  width: 220.8px !important;
  height: 276px !important;
  object-fit: cover; /* 비율 유지 + 자르기 */
}

.myheart-cards {
  position: absolute;
  top: 443px;
  left: 50%; /* 화면의 가운데 기준 */
  transform: translateX(-50%); /* 요소의 폭 절반만큼 왼쪽으로 */
  display: grid;
  grid-template-columns: repeat(4, 220.8px);
  gap: 53px 20px;
}

.myheart-pagination {
  position: absolute;
  top: 1368px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.myheart-footer {
  position: absolute;
  top: 1548px;
  left: 0;
  width: 100%;
}

.myheart-empty-message {
    white-space: nowrap;
    width: 100%;
    text-align: center;
}