.pagination {
    display: flex;
    width: 364.5px;
    margin: 0px auto;
    align-items: center;
    font-family: Inter;
}

.pagination img {
    width: 20.23px;
    height: 40.47px;
    cursor: pointer;
}

.pagination-left-arrow {
    transform: rotate(180deg);
    margin-right: 28.5px;
}

.pagination-left-arrow.disabled {
    opacity: 10%;
}

.pagination-btn {
    width: 45px;
    height: 45px;
    color: #2C2C2C;
    background: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 47px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.pagination-btn:hover {
    background: #E7E7E7;
}

.pagination-right-arrow {
    margin-left: 28.5px;
}

.pagination-btn.active {
    color: #FFF;
    background: #2C2C2C;
}

@media (max-width: 600px) {

    .pagination {
        width: 100%;
        max-width: 220px;  /* 중앙에서 작아지도록 */
        gap: 8px;
        margin: 20px auto 0;
    }

    .pagination img {
        width: 12px;     /* 줄이기 */
        height: 24px;    /* 줄이기 */
    }

    .pagination-left-arrow {
        margin-right: 10px;
    }

    .pagination-right-arrow {
        margin-left: 10px;
    }

    .pagination-btn {
        width: 28px;
        height: 28px;
        font-size: 12px;
        line-height: 30px;
        border-radius: 4px;
    }
}
