.region-selector {
  display: flex;
  gap: 25px;
}

.region-selector-sido,
.region-selector-gugun {
  position: relative;
  display: inline-block;
}

.region-selector-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 154px;
  height: 46px;
  border-radius: 9px;
  border: 1px solid #959595;
  background: rgba(255, 255, 255, 0.5);
  color: #626262;
  font-weight: 400;
  font-size: 14px;
  padding: 0 16px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.region-selector-form.disabled {
  background-color: #f0f0f0;
  color: #BDBDBD;
  pointer-events: none;
}

.region-selector-form.placeholder {
  color: #626262;
}

.region-selector-form:focus {
  outline: none;
  border: 1px solid #4ABDFF;
}

.region-selector-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 154px;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 5px;
  border-radius: 9px;
  border: 1px solid #959595;
  background: #fff;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

/* 스크롤바 전체 넓이 */
.region-selector-dropdown::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 트랙 배경은 팝업 배경과 같게 */
.region-selector-dropdown::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 6px;
  margin-top: 10px;   /* 위에서 10px 아래에 시작 */
  margin-bottom: 10px;
  margin-right: 3px;  /* 오른쪽에서 3px 떨어짐 */
}

/* 스크롤바 핸들러에 둥근 모서리와 색상 */
.region-selector-dropdown::-webkit-scrollbar-thumb {
  background-color: #959595;
  border-radius: 9px;
  margin-right: 3px;
}

.region-selector-dropdown li {
  padding: 10px 16px;
  font-size: 14px;
  color: #626262;
  cursor: pointer;
}

.region-selector-dropdown li:hover {
  background-color: #f2f2f2;
}

.arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  width: 17.66px;
  height: 17.66px;
  transition: transform 0.2s ease;
}

.arrow.rotate {
  transform: translateY(-50%) rotate(180deg);
}
