.search-filter {
    width: 285px;
    height: 48px;
    border: 1px solid #D8D8D8;
    display: flex;
    align-items: center;
    color: #D8D8D8;
    gap: 18px;
    justify-content: center;
}

.search-filter-item {
    display: flex;
    align-items: center;
    color: #2C2C2C;
    font-size: 14px;
    font-weight: 400;
    gap: 7px;
    cursor: pointer;
}

.search-filter-item img {
    width: 9px;
    height: 18px;
    transform: rotate(90deg);
    opacity: 50%;
    margin-top: 3px;
}

.search-filtered {
    display: flex;
    gap: 14px;
}

.search-filtered-item {
    width: fit-content;
    height: 38px;
    border-radius: 19px;
    background: #E2F4FF;
    display: flex;
    gap: 14px;
    line-height: 38px;
    padding: 0 18px;
}

.search-filtered-closed {
    cursor: pointer;
}