.today-weather-page {
  position: relative;
  min-height: 1391px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(128deg, rgba(235, 249, 255, 0.00) 0%, #EBF9FF 100%);
  z-index: 0;
}

.weather-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  flex: 1 0 auto;
}

@font-face {
  font-family: 'InriaSerif';
  src: url('../assets/fonts/InriaSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.today-weather-page-title {
  color: #2C2C2C;
  font-family: 'Inria Serif', serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 1;
  margin-top: 59.25px;
  margin-bottom: 37px;
}

.today-weather-card-group {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 263px 125px 125px;
  gap: 26px 24px;
  top: 322px;
  left: 51.91%;
}

.today-weather-main-weather {
  grid-column: 1 / 4;
  height: 158px;
  flex-shrink: 0;
  border-radius: 16px;
  /*border: 1px solid var(--Light-Pop_boder, rgba(255, 255, 255, 0.15));*/
  background: linear-gradient(95deg, #94C8E6 0%, #46A0D3 100%);

  /* Light/Pop_shadow */
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(100px);

  box-sizing: border-box
}

.today-weather-region {
  position: absolute !important;
  top: 30px !important;
  left: 24px !important;
  color: #FFF !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 20px !important;
}

.today-weather-date {
  position: absolute !important;
  top: 58px !important;
  left: 24px !important;
  color: var(--Light-70, rgba(255, 255, 255, 0.68)) !important;
  font-family: Inter !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  /* 114.286% */
}

.today-weather-temperature {
  position: absolute !important;
  top: 86px !important;
  left: 24px !important;
  color: #FFF;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.today-weather-icon {
  position: absolute !important;
  top: 31px !important;
  left: 426px !important;
  width: 96px !important;
  height: 96px;
  justify-content: center !important;
  align-items: center !important;
  flex-shrink: 0 !important;
}

.today-weather-left {
  position: relative;
}

.today-weather-right {
  position: relative;
}

.today-weather-sunrisesunset {
  grid-column: 1 / 2;
  width: 263px !important;
  height: 158px !important;
  flex-shrink: 0 !important;
  border-radius: 13.948px !important;
  border: 1px solid var(--Light-Pop_boder, rgba(255, 255, 255, 0.15)) !important;
  background: linear-gradient(180deg, #94C8E6 0%, #46A0D3 100%) !important;
  box-shadow: 0px 5.231px 17.435px 0px rgba(0, 0, 0, 0.20) !important;
  backdrop-filter: blur(34.87031936645508px) !important;
  box-sizing: border-box;
}

.today-weather-sunrisesunset-contents {
  position: relative;
}

.today-weather-sunrisesunset-title {
  position: absolute;
  top: 14px;
  left: 17px;
  width: 108px;
  height: 20px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.today-weather-sunrise-icon {
  position: absolute;
  top: 40px;
  left: 44px;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}

.today-weather-sunset-icon {
  position: absolute;
  top: 40px;
  right: 44px;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}

.today-weather-sunrise {
  position: absolute;
  top: 91px;
  left: 37px;
  width: 79px;
  height: 27px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.68);
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.today-weather-sunset {
  position: absolute;
  top: 91px;
  right: 37px;
  width: 79px;
  height: 27px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.68);
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.today-weather-humidity-card {
  grid-column: 2 / 3;
  width: 125px;
  height: 158px;
  flex-shrink: 0;
  border-radius: 13.948px;
  border: 1px solid var(--Light-Pop_boder, rgba(255, 255, 255, 0.15));
  background: linear-gradient(180deg, #94C8E6 0%, #46A0D3 100%);
  box-shadow: 0px 5.231px 17.435px 0px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(34.87031936645508px);
  box-sizing: border-box;
}

.today-weather-humidity-contents {
  position: relative;
}

.today-weather-humidity-title {
  position: absolute;
  top: 14px;
  left: 5px;
  width: 108px;
  height: 20px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.today-weather-humidity-icon {
  position: absolute;
  top: 51px;
  left: 50%;
  transform: translate(-50%);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.today-weather-humidity {
  position: absolute;
  top: 87px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.68);
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.today-weather-speed-card {
  grid-column: 3/ 4;
  width: 125px;
  height: 158px;
  flex-shrink: 0;
  border-radius: 13.948px;
  border: 1px solid var(--Light-Pop_boder, rgba(255, 255, 255, 0.15));
  background: linear-gradient(180deg, #94C8E6 0%, #46A0D3 100%);
  box-shadow: 0px 5.231px 17.435px 0px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(34.87031936645508px);
  box-sizing: border-box;
}

.today-weather-speed-contents {
  position: relative;
}

.today-weather-speed-title {
  position: absolute;
  top: 14px;
  left: 5px;
  width: 108px;
  height: 20px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.today-weather-speed-icon {
  position: absolute;
  top: 59px;
  left: 50%;
  transform: translate(-50%);
  width: 24px;
  height: 16px;
  flex-shrink: 0;
}

.today-weather-speed {
  position: absolute;
  top: 87px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.68);
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.go-to-look-recommend {
  position: relative;
  top: -600px;
  right: -520px;
  width: 210px;
  height: 58.302px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #2C2C2C;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.chevronright {
  display: inline-block;
  width: 7.25px;
  height: 12.835px;
  flex-shrink: 0;
}

.today-weather-region-selector-button {
  width: 155px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #FFF;
  background: #2C2C2C;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.today-weather-region-selector {
  display: flex;
  justify-content: center;
  /* 가로 정중앙 정렬 */
  align-items: center;
  /* 수직 가운데 정렬 (선택사항) */
  vertical-align: middle;
  gap: 20px;
  /* 사이 간격 */
  /* 상하 여백 */
}

.today-weather-footer {
  width: 100%;
  margin-top: auto;
}

.today-weather-region-selector-button:disabled {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 5px;
  background: #959595;
  border:none;
}